# Angel One credentials
ANGELONE_CLIENT_ID=AAAP423969
ANGELONE_CLIENT_SECRET=W2VACHHBZMVA6ACTPAJY3TNGFA
ANGELONE_BOSCHLTD_TOKEN=2181

# Optional overrides
ANGELONE_API_URL=https://api.angelone.in
ANGELONE_LTP_URL=https://api.angelone.in/rest/secure/marketdata
PORT=3000